


.header{

  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left:0px;
  right: 0px;
 background-color: white;
 border-bottom-width:1px ;
 border-bottom-style: solid;
 border-bottom-color: rgb(224, 224, 224); 
 z-index: 100;

}

.left-section{
  
  
 
  display:flex;
  align-items: center;}

 .middle-section{

   
  display: flex;
  flex:1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;


 }
 .search-bar{
  flex: 1;
  height: 36px;
  padding-left: 10px;
   font-size:16px;
   border:1px solid rgb(192 ,192 ,192);
   border-radius: 2px 0px 0px 2px;
   
   box-shadow: inset 1px 2px 3px rgba(0, 0 ,  0, 0.05);
   width: 0;
  
 }
 .search-bar::placeholder{
 
  font-size:16px;

 }
 .search-icon{
  height: 25px;

 }
 




.search-button{
  height: 40px;
  width:66px;
  background-color: rgb(252, 249, 249);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(187, 186, 186);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
  

  

}
.search-button,
  .voice-button,
  .upload-icon-box,
  .apps-icon-box,
  .noti-icon
  
  

{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}


.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-box .tooltip,
 .apps-icon-box .tooltip,
 .noti-icon  .tooltip



{

  position:absolute;
  background-color: gray;
  color:white;
   padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  
  font-size: 12px;
  
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  }

  .search-button:hover .tooltip,
  .voice-button:hover  .tooltip,
  .upload-icon-box:hover .tooltip,
  .apps-icon-box:hover .tooltip,
  .noti-icon:hover  .tooltip
  
  {
    
    opacity:1;
   
    transition: opacity 0.15s;




  }


    
 .voice-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border:none;
  background-color: rgb(245, 245, 245) ;




}
.voice-icon{
  height: 24px ;
  
   
}



.hamburger-menu{

  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
  
}
.youtube-logo{
  height: 20px;

}
.right-section{

 
  width:180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;

}
.upload-icon{
  height: 20px;

}
.apps-icon{
  height: 24px;

}

.notifications{
  height: 24px;
 


}
.noti-icon{
  position: relative;
}
.noti-counts{

  position: absolute;
  top: -2px;
  right:-4px;
  background-color: rgb(211, 23, 23);
  color:white;
 
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;

}




.my-channel{
  height: 32px;
  border-radius: 16px;
  cursor: pointer;



}